.container{
    border: 3px solid red;
    width: 20rem;
    height: 20rem;
    background-image: url(./images/resim-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    color: yellow;
    overflow: auto;
    font-size: larger;
}
.container:hover{
    opacity: 1;
    transition: all ease-in-out 400ms;
}